{% extends "app.html.twig" %}
{% block title %}{{ current.name }}{% endblock %}

{% block content %}
    <div class="container mt-6">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="card overflow-auto">
                    <div class="card-header justify-content-between">
                        <span>
                            <h3 class="card-title">{{ current.name }}</h3>
                            <small class="">{{ current.description }}</small>
                        </span>
                    </div>
                    {% if current.type == 'text' %}
                        <div class="card-body">
                            {% for k, years in values %}
                                {% set r = regions[k] %}
                                <div class="row">
                                    <div class="col-12">
                                        {% if r.description|length > 0 %}
                                            <h4><abbr title="{{ r.description }}">{{ r.name }}</abbr></h4>
                                        {% else %}
                                            <h4>{{ r.name }}</h4>
                                        {% endif %}
                                        <nav>
                                            <div class="nav nav-tabs active-last" id="nav-tab-{{ r.id }}" role="tablist">
                                                {% for p in periods %}
                                                    <a class="nav-item nav-link" id="nav-{{ r.id }}-{{ p.indicator_period }}-tab" data-toggle="tab" href="#nav-{{ r.id }}-{{ p.indicator_period }}" role="tab" aria-controls="nav-{{ r.id }}-{{ p.indicator_period }}" aria-selected="false" style="padding: 1rem 1.5rem;">
                                                        {{ p.indicator_period }}
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </nav>
                                        <div class="tab-content mb-6" id="nav-tabContent-{{ r.id }}">
                                            {% for v in years %}
                                                <div class="tab-pane fade" id="nav-{{ r.id }}-{{ v.indicator_period }}" role="tabpanel" aria-labelledby="nav-{{ r.id }}-{{ v.indicator_period }}-tab">
                                                    {% if v.description|length > 0 %}
                                                        <p><strong>Observações:</strong> {{ v.description }}</p>
                                                    {% endif %}
                                                    {{ v.value|raw }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-12">
                                        <p>Nenhum dado encontrado.</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <table class="table card-table table-striped">
                            <tr>
                                <th>Região</th>
                                {% for p in periods %}
                                    <th>{{ p.indicator_period }}</th>
                                {% endfor %}
                            </tr>
                            {% for k, years in values %}
                                {% set r = regions[k] %}
                                <tr>
                                    {% if r.description|length > 0 %}
                                        <td><abbr title="{{ r.description }}">{{ r.name }}</abbr></td>
                                    {% else %}
                                        <td>{{ r.name }}</td>
                                    {% endif %}
                                    {% for v in years %}
                                        {% if v.description|length > 0 %}
                                            <td><abbr title="{{ v.description }}">{{ v.value }}</abbr></td>
                                        {% else %}
                                            <td>{{ v.value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Nenhum dado encontrado.</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}

                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                {% for category in categories %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <span class="stamp stamp-md bg-green-dark mr-3">
                                        <i class="fe fe-star"></i>
                                    </span>
                                    <div>
                                        <h4 class="m-0" id="{{ helper.slug(category.name) }}"><a href="/#{{ helper.slug(category.name) }}">{{ category.name }}</a></h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <p>{{ category.description }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% for group in category.groups %}
                                            {% if group.id == current.indicator_group_id %}
                                            <div class="col">
                                                <div class="card">
                                                <div class="card-header">
                                                    <span class="stamp stamp-md bg-green-light mr-3">
                                                        <i class="fe fe-star"></i>
                                                    </span>
                                                    <div>
                                                        <h4 class="m-0"><a href="/indicador/{{ group.id }}/{{ helper.slug(group.name) }}/{{ period }}">{{ group.name }}</a></h4>
                                                        <small class="text-muted">{{ group.description }}</small>
                                                    </div>
                                                </div>
                                                <table class="table card-table">
                                                    {% for k, seg_ind in group.indicators %}
                                                        {% if (k > 1 or group.indicators|length > 2) and k != 0 %}
                                                            <tr>
                                                                <th>
                                                                    {% for segment in segmentation %}
                                                                        {% if segment.id == k %}Segmento: {{ segment.name }}{% endif %}
                                                                    {% endfor %}
                                                                </th>
                                                            </tr>
                                                        {% endif %}
                                                        {% for indicator in seg_ind %}
                                                            <tr>
                                                                <td><a href="/indice/{{ indicator.id }}/{{ helper.slug(indicator.name) }}/{{ period }}" class="text-inherit">{{ indicator.name }}</a></td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </table>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}