{% extends "admin.html.twig" %}
{% block title %}{{ current.id > 0 ? 'Editar região: ' ~ current.name : 'Adicionar região' }}{% endblock %}

{% block content %}
<div class="container mt-6">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header justify-content-between">
                    <h3 class="card-title">{{ current.id > 0 ? 'Editar região: ' ~ current.name : 'Adicionar região' }}</h3>
                </div>
                <div class="card-body">
                    <form id="region-form" action="{{ current.id > 0 ? '/region/update' : '/region/register' }}" method="post" data-send>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input type="hidden" name="id" value="{{ current.id }}">
                                <div class="form-group">
                                    <label class="form-label">Nome</label>
                                    <input type="text" required class="form-control" name="name" value="{{ current.name }}" placeholder="Nome">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Tipo de região</label>
                                    <select name="city" class="form-control" required>
                                        <option></option>
                                        <option value="0" {{ current.city == '0' ? 'selected' : '' }}>Região / Bairro</option>
                                        <option value="1" {{ current.city == '1' ? 'selected' : '' }}>Cidade</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Descrição</label>
                                    <textarea name="description" class="form-control ck" id="dregion" rows="3">{{ current.description }}</textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" type="submit" form="region-form"><i class="fe fe-save"></i> Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            Manager.loadCKEditor();
        });
    </script>
{% endblock %}